body {
    background-color: cornflowerblue;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 80%;
    height: 200%;
    border: 1px solid black;
    margin: 50px auto;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(251, 151, 168);
    transform-style: preserve-3d;
    border-radius: .75rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    transition: 400ms;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    cursor: pointer;
}

.card.flip {
    --rotate-y: 180deg;
}

.card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card .front,
.card .back {
    position: absolute;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
}

.card:hover {
    box-shadow: 0
}

.reason-text {
    font-weight: bold;
    font-size: 30px;
}